bin/
obj/
.vs/
.vscode/
*.user
*.suo
*.cache
*.swp
*.swo

*.nupkg
packages/
TestResults/
*.DotSettings
*.pidb
*.log
*.dll
*.pdb
*.exe

**/Migrations/*.Designer.cs
**/Migrations/*.resx
!**/Migrations/*.cs  


appsettings.Development.json
appsettings.local.json
*.env
*.secret


/postgres_data/  
*.dump
*.backup


.DS_Store
Thumbs.db
*.sqlite3